.matching-title-container{
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.matching-title {
  color: #131518;
  background-color: #cacaca;
  width: 200px;
  border: 2px #000000 solid;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.card-list{
  list-style: none;
}